:root {
	--container-bg-color:#333;
	--left-bg-color: rgba(8, 22, 69, 0.7);
	--left-button-hover-color:rgba(161, 11, 11, 0.3);
	--right-bg-color: rgba(0, 111, 155, 0.8);
	--right-button-hover-color:rgba(92, 92, 92, 0.3);
}

/*Limpiar estilos básicos del navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
	width: 100%;
    font-family: "Open Sans", sans-serif;
}

/*Estilos header*/

.parallax{
    width: 100%;
    height: 70vh;
    color: white;
    background: url("../img/background-header.jpg"); /*coloca la img de fondo*/
    background-repeat: no-repeat; 
    background-attachment: fixed;/*El fondo queda fijo y se genera el efecto*/
    background-size:cover ;/*para que la imagen cubra todo el fondo y se ajuste*/
}

/* ----- MENÚ DE NAVEGACIÓN ----- */
nav{
  width: 100%;
  position: fixed;/*Para fijar el menu en la parte superior*/
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  height: 70px; 
  transition: 0.5s all ease-in-out ;
  z-index: 100;
}

.nav1{/*menu transparente*/
    background: transparent;
    color: white;   
}

.nav2{/*menu no transparente---aparece a cierta altura de la pantalla*/
    background: white;
    color: black;
}

nav .enlaces a{/*estilos de enlace del menu*/
    display: inline-block;
    padding: 3% 0 0.5% 0;
    height: 50%;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    border-bottom: 5px solid transparent;
}

nav .enlaces a:hover{ /*línea inferior al fasar el cursor sobre el enlace*/
    border-bottom: 3px solid ;
}

/* ----- TEXTO DEL HEADER ----- */
.centrar{ /*Clase que centra un bloque en otro bloque*/
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo1{
    width: 80%;
}
.centrar>h1{
    font-size: 60px;
    margin: 20px 0;
}

.btn{/*Estilos de botones*/
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 25px;
    margin: 7px;
    padding: 10px;  
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.9);
}

.uppercase {
   text-transform:uppercase;
}

/*clase para fuentes de iconos*/
.icon{
    font-size: 30px;
    display: inline-block;
    padding: 3px;
    border: 1px solid;
    border-radius: 3px;
    display: none;
    margin-top: 3% ;
    margin-left: 3%;
}

/* ----- LEARN ----- */
.learn{
    display: block;
    width: 100%;
    text-align:center;
    padding: 20px 120px;
}

.title{
    font-size: 34px; 
    margin: 2% 0;
    color: #001361;
	text-align:center;
}

.text{
    display: inline-block;
    width: 80%;
    margin-bottom: 2%;
}

/* ----- SPLIT ----- */
h2 {
	font-size: 4rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	white-space: nowrap;
	text-transform: uppercase;
}

.description {
    display: block;
    width: 100%;
    font-size: 1.5rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
    text-align: center;   
}

.button {
    display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 15rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
	transition: 0.3s;
}

.second {
	top: 65%;
}

.split.left .button:hover {
	background-color: var(--right-bg-color);
	border-color: var(--right-bg-color);
}

.split.right .button:hover {
	background-color: var(--left-bg-color);
	border-color: var(--left-bg-color);
}

.split {
	position: absolute;
	width: 50%;
	height: 55%;
    overflow:hidden;
}

.split.left {
	left: 0;
	background: url(../img/python.jpg) center center no-repeat;
	background-size: cover;
}

.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}

.split.right {
	right: 0;
	background: url(../img/javascript.jpg) center center no-repeat;
	background-size: cover;
}

.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}

.container {
    height: 300 px;
}

/* Download section */
.download-container {
	display: flex;
	justify-content: space-evenly;
}

.image-container {
	width: 150px;
	margin: 0 auto;
	
}

.image {
	width: 100%;
}

.download-section .btn a {
	text-decoration:none;
	color:#001361;
	margin-top: 1rem;
}

/* ----- FOOTER ----- */
footer .contacto {
    padding: 60px 200px; 
}
footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 60px;
    color: #001361;
    text-align: center; 
}

footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4; 
    font-family: "Open Sans", sans-serif;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
    width: 49%;
    margin-bottom: 15px; 
}

footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    margin-bottom: 15px;
    min-height: 150px;
    max-height: 300px; 
}

footer .contacto .formulario .boton {
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 10px;
	text-transform:uppercase;
	font-weight:600;
}

footer .contacto .formulario .boton:hover {
    background: #001361; 
}

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0; 
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center; 
}
    
footer .redes-sociales .contenedor a {
    color: #fff;
    text-align: center;
    width: 100px;
    font-size: 30px;
    padding: 15px 0;
    display: block;
    margin: 0 20px;
    border-radius: 3px; 
}

footer .redes-sociales .contenedor .twitter:hover {
    color: #55acee; }
footer .redes-sociales .contenedor .facebook:hover {
    color: #3b5998; }
footer .redes-sociales .contenedor .youtube:hover {
    color: #cd201f; }
footer .redes-sociales .contenedor .github:hover {
    color: #666666; }
footer .redes-sociales .contenedor .instagram:hover {
    color: #a231c1; }

.icon-image{
    height: 30px;
}

#youtube{
    margin-top: 10px;
}

.icon-pos{
    display:flex !important;
    justify-content: center;
    align-items: center;
}

/* ----- PUNTOS DE RUPTURA ----- */

@media(max-width: 800px) {
	h2 {
		font-size: 3rem;
    }
    
    .button{
        top: 65%;
    }
    .second{
        top:80%
    }

    .title{
        font-size: 2rem;
    }

}

@media screen and ( max-width:650px){
    .centrar>h1{
        font-size: 50px;
    }

    .enlaces{/*a un tamaño menor de 650px cambia la forma del menú*/
      background: linear-gradient(to bottom,
      rgba(15, 15, 15, 0.9),
      rgba(19, 20, 20, 0.9)
      );
      text-align: center;
      position: fixed;
      top: 70px;
      
      transform: translateX(-100%);/*El emnú va a estar escondido hasta que se le de click al icono*/
      
    }

    .enlaces2{/*Esta clase se agrega para que aparezca el menu*/
        transition: 1s all ease-in;
        transform: translateX(0%);
    }

    nav .enlaces a{
        width: 60%;
        padding: 7% 0;
        
    }

    .icon{
        display: inline-block;
    }
}

