
    *{
        margin: 0;
        padding: 0;
    }
    #Titulo{
        background-color: black;
        color: white;
        font-size: 28px;
        font-family: sans-serif;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #icono{
        width: 70px;
        height: 70px;
        cursor: pointer;
        transition-property: width, height;
        transition-duration: 0.5s;
    }

    #icono:hover{
        width: 80px;
        height: 80px;
    }

    h1{
        cursor: default;
        font-size: 2rem;
    }



    #Pregunta{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(235, 240, 243);
        height: 65vh;
        width: 100%;
    }

    #pizarra{
        width: 80%;
        height: 55vh;
        background-color: white;
        box-shadow: 10px 10px 5px -5px rgba(117,109,117,1);
      
        background-position: center;
        background-size: 100% 55vh;
        background-repeat: no-repeat;
    }

    .botones{
        background-color: black;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .botones-opciones{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 55%;
    }

    #botones-opciones2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;

    }

    button{
        background-color: #0d143d;
        font-family: sans-serif;
        font-size: 1.1rem;
        width: 20%;
        flex-wrap: wrap;
        color: white;
        height: 5vh;
        border: none;
        cursor: pointer;
        transition-property: width, color, background-color;
        transition-duration: 0.5s;
    }

    #seleccion-simple{
        display: flex;
    }
    #texto-resp{
        width: 20%;
        text-align: center;

        display: none;
    }

    #verdadero-falso{

        width: 20%;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        color: white;
        display: none;
    }


    

    button:hover{
        color: gold;
        width: 22%;
        background-color: #141e57;
    }

    .opciones:focus{
        color: gold;
        background-color: #192774;
    }

    #capa_traslucida{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: rgba(0, 2, 13, 0.63);
    }


    #mensaje_positivo{
        width: 30%;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        height: 40vh;
        background-color: rgb(34, 177, 76);
    }
    #mensaje_positivo *{
        margin: 2% auto;
    }
    #mensaje_negativo{
        width: 30%;
        height: 40vh;
        background-image: url("../python/pruebas/img/wrong2.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #mensaje_final{
        width: 30%;
        height: 52vh;
        background-color: white;
        color: #192774;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    #mensaje_final span{
        color:red;
    }

    #mensaje_final *{
        margin: 2% auto;
    }

    #feedback{
        width: 40%;
        height: 7vh;
        background-image: url("../python/pruebas/img/good2.png");
        background-position: center;
        background-size: contain;
        display: none;
        background-repeat: no-repeat;
    }
    a{
        width: 5vw;
    }

    .btn-msg-final{
        width: 40%;

    }

    .btn-msg-final:hover{
        width: 45%;
    }

    #linea_temporal{
        width: 100%;
        height: 1vh;
        background-color: #192774;
        animation-iteration-count: 1;
    }

@keyframes lineaTiempo {
    0%{ width: 100%;}
    100%{ width: 0%; background-color: red}
}

#tiempo{
    display: none;
}